<div *ngIf="!loading">

  <div>
    <div class="font-weight-bold text-center titre my-3">Liste des restaurants :</div>
  </div>

  <div class="row justify-content-center cotes mb-3">
    <table class="table table-striped">

      <thead class="text-center thead-dark">
        <tr>
          <th scope="col" class="col-3">Nom</th>
          <th scope="col" class="col-3">Adresse</th>
          <th scope="col" class="col-2">Visité le</th>
          <th scope="col" class="col-1">Note</th>
          <th scope="col" class="col-1">Nb visites</th>
          <th scope="col" class="col-1">Comm.</th>
          <th scope="col" class="col-1">Détail</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let restaurant of listeRestaurants | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
          <tr>
            <td scope="col" class="font-weight-bold">{{restaurant.nom}}</td>
            <td scope="col">{{restaurant.adresse}}</td>
            <td scope="col" class="text-center">{{restaurant.date_visite | amParse:'YYYY-MM-DD' | amDateFormat: 'DD/MM/YYYY'}}</td>
            <td scope="col" *ngIf="tableauNoteMoyenne[i] > 0" class="text-center">{{tableauNoteMoyenne[i]}} / 5</td>
            <td scope="col" *ngIf="tableauNoteMoyenne[i] === 0" class="text-center">-</td>
            <td scope="col" class="text-center">{{restaurant.nb_visite}}</td>
            <td scope="col" *ngIf="tableauNombreCommentaire[i] > 0" class="text-center">{{tableauNombreCommentaire[i]}}</td>
            <td scope="col" *ngIf="tableauNombreCommentaire[i] === 0" class="text-center">-</td>
            <td scope="col" class="text-center">
              <a [routerLink]="['/liste', restaurant.id]">
                <button
                  class="btn btn-secondary btn-sm"
                  type="button"
                  name="bouton-detail"
                  id="bouton-detail"
                >
                  <i class="fas fa-id-card"></i>
                  Détail
                </button>
              </a>
            </td>
          </tr>
        </ng-container>
      </tbody>

    </table>
  </div>

  <!-- pagination de Angular bootstrap -->
  <div *ngIf="listeRestaurants.length > 7">
    <ngb-pagination
      class="d-flex justify-content-center"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="listeRestaurants.length"
      [rotate]="true"
      [boundaryLinks]="true"
    >
    </ngb-pagination>
  </div>

</div>

<div *ngIf="loading">
  Chargement ...
</div>
